{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'chat/css/base.css' %}" />
    {% block head %}
    {% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="content">
            <section class="sidebar">
                <nav>
                    <ul>
                        <li>
                            <p>Perfil</p>
                        </li>
                    </ul>
                </nav>
            </section>
            <main class="page-content">
                {% block page-content %}
                {% endblock %}
            </main>
        </div>
    </div>
    {% else %}
    <div class="alert-container">
        <div class="alert">
            <h2>¡Tenés que iniciar sesión con tu cuenta!</h2>
            <a class="sign-button" href="{% url 'signin' %}">Iniciar sesión</a>
        </div>
    </div>
    {% endif %}
</body>
</html>
