{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'chat/css/base.css' %}" />
    {% block head %}
    {% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="content">
            <section class="sidebar">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'profile' %}">
                                <figure class="user-picture">
                                    <img src="{{ user.get_image }}" alt="Perfil" />
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'home' %}">
                                <div class="icon-container">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 60" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M30.5,0C14.233,0,1,13.233,1,29.5c0,5.146,1.346,10.202,3.896,14.65L0.051,58.684c-0.116,0.349-0.032,0.732,0.219,1 C0.462,59.889,0.728,60,1,60c0.085,0,0.17-0.011,0.254-0.033l15.867-4.175C21.243,57.892,25.86,59,30.5,59 C46.767,59,60,45.767,60,29.5S46.767,0,30.5,0z M17,34c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S19.206,34,17,34z M30,34 c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S32.206,34,30,34z M43,34c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4 S45.206,34,43,34z"></path> </g></svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
            <main class="page-content">
                {% block page-content %}
                {% endblock %}
            </main>
        </div>
    </div>
    {% else %}
    <div class="alert-container">
        <div class="alert">
            <h2>¡Tenés que iniciar sesión con tu cuenta!</h2>
            <a class="sign-button" href="{% url 'signin' %}">Iniciar sesión</a>
        </div>
    </div>
    {% endif %}
</body>
</html>
