{% extends 'account/base.html' %}

{% block head %}
<title>Iniciar sesión</title>
{% endblock %}

{% block form-header %}
<h2>Iniciá sesión con tu cuenta</h2>
{% endblock %}

{% block form-body %}
<div class="inputs-container">
    <div class="input-container">
        <label class="input-label" for="username">Nombre de usuario</label>
        <input class="input-target" name="username" type="text" placeholder="..." required />
    </div>
    <div class="input-container">
        <label class="input-label" for="password">Contraseña</label>
        <input class="input-target" name="password" type="password" placeholder="..." required />
    </div>
</div>
<div class="submit-container">
    <button class="submit-button" type="submit">Iniciar sesión</button>
</div>
{% endblock %}

{% block form-footer %}
<p class="grey-text">
    ¿No tenés una cuenta? <a href="{% url 'signup' %}">Registrate</a>
</p>
{% endblock %}
