.page-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.account-form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--qt-color);
    border-radius: 4px;
    padding: 16px;
    background-color: var(--sc-color);
}

.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.account-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.account-form-input-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: start;
}

.account-form-input-label {
    color: var(--tr-color);
    font-weight: bold;
}

.account-form-input {
    padding: 8px;
    font-size: 1em;
    border: 1px solid var(--qt-color);
    border-radius: 4px;
    background-color: var(--pr-color);
}

.account-form-action-buttons {
    display: flex;
    gap: 8px;
}

.submit-button {
    cursor: pointer;
}

.signout-button-container {
    display: flex;
    justify-content: center;
}

.signout-button {
    display: block;
    width: fit-content;
    padding: 8px;
    border-radius: 4px;
    font-size: 1em;
    background-color: #c80000;
    border: 1px solid var(--qt-color);
    text-decoration: none;
}
