.page-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.account-form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--qt-color);
    border-radius: 4px;
    padding: 16px;
    background-color: var(--sc-color);
}

.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.account-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.account-form-input-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: start;
}

.account-form-input {
    padding: 6px;
    font-size: 1em;
    border: 1px solid var(--qt-color);
    border-radius: 4px;
    background-color: var(--tr-color);
}

.account-form-submit-button {
    cursor: pointer;
}

.account-form-footer {
    text-align: center;
}

.signout-button-container {
    margin-top: 10px;
    margin-bottom: 4px;
}

.signout-button {
    padding: 6px;
    border-radius: 4px;
    font-size: 1em;
    background-color: #c80000;
    border: 1px solid var(--qt-color);
    text-decoration: none;
}
